HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.idea/sonarlint/
/.idea/
.idea/compiler.xml
.idea/artifacts
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
.idea/
/client1/mvnw.cmd
/client1/.gitattributes
/client1/mvnw
/client1/.mvn/
/recommendations-api/.gitattributes
/recommendations-api/mvnw
/recommendations-api/mvnw.cmd
/recommendations-api/.mvn/
/video-api/.gitattributes
/video-ranking-api/.gitattributes
